.yellow, .green {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 6px;
    border: solid 0.7px;
    /* box-shadow: 1px 1px 100px -80px inset; */
    
}

.yellow {
    background-color: yellow;
    top: 60px;
}

.green {
    background-color: green;
    top: 110px;
}